@import url("https://fonts.google.com/specimen/Outfit");

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
}
header{
    margin: 0;
    padding: 0;
}
main{
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--color-slate-300);
    margin: 0; /* Remove a margem padrão */
    height: 100vh; /* Garante que o body ocupe a altura total da tela */
    display: flex; /* Ativa o Flexbox */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

.box {
    width: 62%; /* Aumenta a largura da caixa em 30% (de 40% para 52%) */
    max-width: 360px; /* Aumenta o max-width em 30% (de 200px para 260px) */
    padding: 20px; /* Aumenta o padding (espaçamento interno) em 30% */
    background-color: var(--color-white); /* Cor de fundo */
    color: var(--color-slate-900); /* Cor do texto */
    border: 2px;
    border-radius: 14px; /* Bordas arredondadas */
    text-align: center; /* Centraliza o texto na caixa */
}

a {
        text-decoration: none;
        color: #050000;
        padding: 5px 10px;
        border-radius: 4px;
      }
      
      a:hover {
        background-color: var(--color-slate-500); 
        color: var(--color-white);
      }
      

.img-qr {
    max-width: 100%;
    border-radius: 8px;
}

.first-text {
    font-family: "Outfit";
    color: var(--color-slate-900);
    font-size: 19.5px; /* Aumenta a fonte em 30% */
    font-weight: 700;
}

.second-text {
    color: var(--color-slate-500);
    font-size: 15.6px; /* Aumenta a fonte em 30% */
    font-weight: 400;
    text-align: center;
}

.info {
    color: var(--color-slate-900);
    font-size: 15.6px; /* Aumenta a fonte em 30% */
    font-weight: 400;
}

.container {
    padding: 16px;
    max-width: 100%;
}

@media(min-width: 1440px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 32px;
    }
}
