@import url("https://fonts.google.com/specimen/Outfit");


:root {
    --color-white: hsl(0, 0%, 100%);
    --color-slate-300: hsl(212, 45%, 89%);
    --color-slate-500: hsl(216, 15%, 48%);
    --color-slate-900: hsl(218, 44%, 22%);
  }
  

body{
    background-color: var(--color-slate-300);
}
.box{
    width: 40%; /* Largura da caixa, em relação ao tamanho do contêiner */
    max-width: 200px; /* Largura máxima da caixa */
    margin: 20px auto; /* Centraliza a caixa horizontalmente */
    padding: 20px; /* Espaçamento interno */
    background-color: var(--color-white); /* Cor de fundo */
    color: var(--color-slate-900); /* Cor do texto */
    border: 2px ; /* Borda ao redor da caixa */
    border-radius: 14px; /* Bordas arredondadas */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar destaque */
    text-align: center; /* Centraliza o texto na caixa */
}
.img-qr{
    max-width: 100%;
    border-radius: 8px;

}
.first-text{
    font-family: "Outfit";
    color: var(--color-slate-900);
    font-size: 15px;
    font-weight: 700;
}
.second-text{
    color: var(--color-slate-500);
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}
.info{
    color: var(--color-white);
    font-size: 12px;
    font-weight: 400;
}

.container{
    padding: 16px;
    max-width: 100%;
}
@media(min-width:1440px){
    .container{
        max-width: 1440px;
        margin: 0 auto;
        padding: 32px;
    }
}